{% extends 'app/base.html' %}
{% load static %}


{% block title %} Log In {% endblock %}


{% block stylesheets %}
    <style type="text/css">
        .or-separator {
            display: flex;
            flex-direction: row;
            color: darkgrey;
        }

        .or-separator:before, .or-separator:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid;
            margin: auto;
        }

        .or-separator:before {
            margin-right: 10px
        }

        .or-separator:after {
            margin-left: 10px
        }
    </style>
{% endblock stylesheets %}



{% block body %}
    <div class="container">
        <br />
        <div class="mt-5">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div style="border: 1px solid #ececec; border-radius: 5px">
                        <div class="card-body">

                            <div class="row justify-content-center">
                                <div class="col-11">

                                    <!-- Logo -->
                                    <div class="mb-5 mt-3 text-center">
                                        <img src="{% static 'logo-2.png' %}" alt="Snipp-Labs Logo">
                                        <div><h3>Snipp-Labs</h3></div>
                                    </div>

                                    {% if form.errors %}
                                        <div class="fw-lighter text-center text-danger mb-4">
                                            Invalid username/password
                                        </div>
                                    {% endif %}

                                    <!-- Form -->
                                    <form class="form mb-4" method="POST">
                                        {% csrf_token %}
                                        <div class="mb-4">
                                            {{ form.username }}
                                        </div>
                                        <div class="mb-3">
                                            {{ form.password }}
                                        </div>

                                        <!-- Forgot Password -->
                                        <div class="mb-3 text-end">
                                            <a class="fw-lighter" href="#"><small>Forgot Password?</small></a>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-block">Log In</button>
                                    </form>

                                    <!-- Separator -->
                                    <div class="or-separator mb-4">or</div>

                                    <!-- Sign Up -->
                                    <div class="mb-5">
                                        <button type="submit" class="btn btn-dark btn-block">Sing Up</button>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

