body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
     /*background-color: rgb(255, 254, 254);*/
     background-color: #FFFFFF;
}

/* Item Delete */
.del-item {
    cursor: pointer;
}
.del-item:hover {
    color: #ff0000;
    /*text-shadow: 0 0 5px #ff0000;*/
}
.del-item:active {
    /*color: #8b0000;*/
    color: #e50000;
    /*text-shadow: 0 0 5px #7d0000;*/
    text-shadow: 0 0 5px #990000;
}

/* Item */
.item {
    cursor: pointer;
}
.item:active {
    text-shadow: 0 0 10px silver;
}


/* Linq Item */
.linq-container {
    margin-bottom: 8px;
    padding: 0 5px 0 5px;
    border: 1px solid #d9d9d9;
}
.light-color {
    color: #b3b3b3;
}
.linq-action {
    cursor: pointer;
}
.linq-action:active {
    text-shadow: 0 0 3px #bfbfbf;
}

/* Override default styles from MDBootstrap */
.btn {
    box-shadow: none !important;
}